*{
    font-family: Avenir Next;
}

p{
    text-align: center;
    padding-top: 25%;
}

#first {
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 40%
}

.box-container .box1, .box2{
    margin-top: 5%;
    margin-bottom: 5%;
}


.box1{
    box-sizing: content-box;
    float: left;
    width: 20%;
    height: 400px;
    padding: 5% 5%;
    margin-left: 20%;

    background: linear-gradient(#DCDE97, #96DEAC);
}

.box2{
    width: 20%;
    height: 356px;
    padding: 5% 5%;
    padding-top: 8%;
    float: left;
    border: 1px solid gray;
}

.rounded{
    border-width: 0.5px;
    padding: 5px;
    margin-bottom:22px;
    width: 270px;
}

#password{
    margin-bottom: 0px;
}


#continueButton {
    border: 0px;
    margin-top: -2px;
    width: 282px;
    background-image: linear-gradient(to right, #96CEAC, #DCDE97)
}

#forgotPass {
    font-family: Avenir Next;
    font-size: x-small;
    padding-left: 204px;
}

.button-container{
    border-width: 0px;
}

#button1 {
    background-color: #DB4437;
    border-width: 0px;
    padding: 8px;
    color: white;
    font-size: 12px;
    width: 139px;
}

#button2 {
    background-color: #3b5998; 
    border-width: 0px;
    padding: 8px;
    font-size: 12px;
    color: white;
    width: 139px;
}

.class{
    clear:both;
}

